<div class="background-video">
    <video id="bg-vid" preload="auto" autoplay="true" loop="true" muted="muted">
        <source src="assets/Test Website Background Video.mp4" type="video/mp4">
        video not supported
    </video>
</div>